*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    height: 100vh;
}
.submit{
    display: flex;
    margin-top: 1.7rem;
}
.apply{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28vw;
    height: 7vh;
    background-color: #333333;
    color: white;
    /* margin-left: 1rem; */
    border-radius: 1rem;
}
.apply:hover{
    border: 2px solid #706d6d;
}
.cancle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28vw;
    height: 7vh;
    background-color: white;
    color: #333333;
    margin-left: 2rem;
    border: 2px solid #706d6d;
    border-radius: 1rem;
}
.cancle:hover{
    border: 2px solid #333333;
}
