*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    width: 100vw;
    height: 100vh;
}
.Header-main{
    position: relative;
    width: 58vw;
    height: 8vh;
    /* background-color: red; */
}
.head-p1{
    position: absolute;
    width: 29vw;
    height: 8vh;
    padding: .7rem;
    /* background-color: red; */
}
.head-p1-h5{
    display: flex;
    align-items: center;
    font-weight: 800;
}

.head-p2{
    position: absolute;
    width: 29vw;
    height:8vh ;
   /* background-color: yellow;  */
   margin-left: 50%;
}
.head-p2-arrow{
    width: 29vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: end;
    font-family: sans-serif;
    /* background-color: blue; */
    font-size: 2rem;

}
.head-p2-arrow:hover{
    font-size: 2rem;
    font-weight: 600;
    color:#808080;
}
.head-p2-seccond{
    display: flex;
    align-items: center;
    width: 29vw;
    height: 4vh;
}
.cake-main{
    width: 78%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    /* background-color: yellow; */
}
.switch-size{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 22%;
    height: 100%;
}

.head-p1 h5{
    font-size: 1.3rem;
}

.cake-head-2{
    
    width: 7%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4DD7DD;
    color: #FCEB74;
    
}
.cake-main h4{
    margin-left: 1rem;
}
.head-p2 h4{
    color:#808080;
}
.switch-size-h4{
   
    margin-left: 1rem;
}



@media screen and (max-width: 600px) {
   
    .Header-main{
        position: relative;
        width: 90vw;
        height: 8vh;
        background-color: red;
    }
    .head-p1{
        position: absolute;
        width: 45vw;
        height: 8vh;
        padding: .3rem;
        /* background-color: red; */
    }
    .head-p1-h5{
        display: flex;
        align-items: center;
        font-weight: 800;
    }
    
    .head-p2{
        position: absolute;
        width: 45vw;
        height:8vh ;
       /* background-color: yellow;  */
       margin-left: 50%;
    }
    .head-p2-arrow{
        width: 45vw;
        height: 4vh;
        display: flex;
        align-items: center;
        justify-content: end;
        font-family: sans-serif;
        /* background-color: blue; */
        font-size: 2rem;
    
    }
    .head-p2-arrow:hover{
        font-size: 2rem;
        font-weight: 600;
        color:#808080;
    }
    .head-p2-seccond{
        display: flex;
        align-items: center;
        width: 45vw;
        height: 4vh;
        /* background-color: blue; */
    }
    .cake-main{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        /* background-color: yellow; */
    }
    .switch-size{
        display: flex;
        align-items: center;
        justify-content: end;
        width: 50%;
        height: 100%;
        /* background-color: red; */
    }
    
    .head-p1 h5{
        font-size: 1.3rem;
    }
    
    .cake-head-2{
        
        width: 35%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border-radius: 50%; */
        background-color: #4DD7DD;
        color: #FCEB74;
        
    }
    .cake-main h4{
        margin-left: .5rem;
    }
    .head-p2 h4{
        color:#808080;
    }
    .switch-size-h4{
       
        margin-left: .5rem;
    }
   
}