*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: ;
    /* font-family: 'montserrat'; */
}
html,body{
    width: 100vw;
    height: 100vh;
}
.main-part{
    display: flex;
    align-items: center;
    padding-left: 16rem;
    width: 100vw;
    height: calc(100vh - 8vh);
    background-color: #E5E5E5;
}

@media screen and (max-width: 600px) {
    .main-part{
        display: flex;
        align-items: center;
        padding-left: 2.8rem;
        width: 100vw;
        height: calc(100vh - 8vh);
        background-color: #E5E5E5;
    }

}