*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    height: 100vh;
}
.main-part{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height:128vh ;
    background-color: #E5E5E5;
    
}

@media screen and (max-width: 600px) {
   
    .main-part{
    
        width: 100vw;
        height:128vh ;
        background-color: #E5E5E5;
        
    }
}