* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

.main-section-white {
    width: 60vw;
    height: 120vh;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    padding:.8rem;

}


@media screen and (max-width: 600px) {
    .main-section-white {
        width: 94vw;
        height: 92vh;
        border: 1px solid white;
        border-radius: 10px;
        background-color: white;
        padding:.5rem;
        /* background-color: red; */
    
    }
   
}

