*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    width: 100vw;
    height: 100vh;
}
.Rio{
    width: 58vw;
    height: 7.5rem;
    /* width: 55.7rem;
    height: 4rem; */
    /* background-color: blue; */
    /* margin-left: 1rem; */
    margin-top: .1rem;
    font-family: sans-serif;
    margin-bottom: 1.2rem;
}
.Rio-input-header{
    display: flex;
    align-items: center;
}

.pencil-fig{
    color:#A3A3A3;
}
.Rio h4{
    margin-left: 46.3rem;
    font-weight: 700;
    color: #A3A3A3;
    font-size: .9rem;
}
.Rio h5{
    margin-top: .6rem;
    margin-left: 47.6rem;
    color: #A3A3A3;
}

