*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    width: 100vw;
    height: 100vh;
}

.showDetails-main{
    width: 58vw;
    height: 27vh;
    margin-top: .5rem;
    /* background-color: red; */
    margin-top: 1.5rem;
    
}
.show-datails-1{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 8vw;
     height: 5vh;
     border: none;
     color: none;
     background-color: white;
}
.button-set{
  display: flex;
  align-items: center;
  justify-content: center;
}
.hide-dev{
    display: flex;
}
.show-dev{
    display: flex;
}
.show-datails-1:hover{
   background-color: #A3A3A3;
   opacity: 1;
}
.show-datails-2{
    width: 58vw;
    height: 21vh;
    /* background-color: blue; */
}

.show-datails-APY{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 58vw;
    height: 8vh;
    display: flex;
    /* background-color: rebeccapurple; */
    align-items: center;
    
}
.text-apy{
    font-size: 1.3rem;
}
.number-color{
    font-size: 1.8rem;
    font-weight: 600;
    color:#FAC200 ;
}
.show-datails-points{
    width: 58vw;
    height: 14vh;
    color: #A3A3A3;
    /* background-color: yellow; */
    padding: 2rem;
}




@media screen and (max-width: 600px) {
   
.showDetails-main{
    width: 90vw;
    height: 27vh;
    margin-top: .5rem;
    /* background-color: red; */
    margin-top: 1rem;
    
}
.show-datails-1{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 33vw;
     height: 5vh;
     border: none;
     color: none;
     background-color: white;
}
.button-set{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
}
.hide-dev{
    display: flex;
}
.show-dev{
    display: flex;
}
.show-datails-1:hover{
   background-color: #A3A3A3;
   opacity: 1;
}
.show-datails-2{
    width: 90vw;
    height: 21vh;
    /* background-color: blue; */
}

.show-datails-APY{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    height: 8vh;
    display: flex;
    /* background-color: rebeccapurple; */
    align-items: center;
    
}
.text-apy{
    font-size: 1.3rem;
}
.number-color{
    font-size: 1.8rem;
    font-weight: 600;
    color:#FAC200 ;
}
.show-datails-points{
    width: 90vw;
    height: 14vh;
    color: #A3A3A3;
    /* background-color: yellow; */
    padding: 2rem;
} 
   
}