*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'montserrat'; */
}
html,body{
    width: 100vw;
    height: 100vh;
}

.timeframe-2{
  display: flex;
 position: relative;
}
.timeframe-1{
    
    padding: 1rem;
}

.timeframe-2-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18vw;
    height: 5vh;
    background-color: #FCEB74;
    margin-left: 1rem;
    border-radius: 1rem;
}
.timeframe-2-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18vw;
    height: 5vh;
    background-color: #F9FAFB;
    margin-left: 2rem;
    border-radius: 1rem;
}
.timeframe-2-3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18vw;
    height: 5vh;
    background-color: #F9FAFB;
    margin-left: 2rem;
    border-radius: 1rem;
}
.timeframe-2-4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18vw;
    height: 5vh;
    background-color: #F9FAFB;
    margin-left: 2rem;
    border-radius: 1rem;
}
.timeframe-2-5{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18vw;
    height: 5vh;
    background-color: #F9FAFB;
    margin-left: 2rem;
    border-radius: 1rem;
}




