*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'montserrat'; */
}
html,body{
    width: 100vw;
    height: 100vh;
}

.timeframe{
    display: flex;
    flex-direction: column;
    width: 57.5vw;
    height: 11vh;
    /* background-color: red; */
    margin-top: .7rem;
    font-family: sans-serif;
    
}
#timeframe-1{
    font-size: 7rem;
}

.timeframe-2{
  display: flex;
  margin-top: .8rem;
  /* background-color: red; */
  
}

.timeframe-2-1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    width: 8vw;
    height: 5vh;
    background-color: #FCEB74;
    border-radius: 1rem;
    
}
.timeframe-2-1:hover{
    border: 3px solid #89C7F4;
}
.timeframe-2-2{
    margin-left: 2rem;
    border-radius: 1rem;
    background-color: #F9FAFB;
    color:#A3A3A3 ;
}




